.meme-img {
  height: 500px;
  width: 500px;
}

.show-comment {
  background: #F0F2F5;
  border-radius: 20px;
}

.show-comment p {
  line-height: 5px;
  font-size: 14px;
  padding-left: 15px;
}

.show-comment .username {
  font-size: 12px;
  font-weight: 700;
}


.modal-style {
  width: 500px;
  min-height: 400px;
}

.modal-header {
  border-bottom: 1px solid #dddddd;
  margin: 0;
  padding: 0;
}

.totalLike {
  font-size: 14px;
  font-weight: bold;
}


.close-modal {
  z-index: 1000;
  padding: 3px 10px;
  font-size: 16px;
  border: none;
  color: #000000;
  background: #E5E7EA;
  border-radius: 20px;
}